@using adminServer.Models;


@model IEnumerable<UserModel>;

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<div class="wrapper">
    <button id="addBtn" class="buttonGreen">Add</button>
    <div id="modalAdd" class="modal">
        <div class="modal-content">
            <span id="closeAddModal" class="close">&times;</span><br /><br />
            <form id="addForm" method="POST">
                <input type="hidden" id="IdE" name="Id" value="0">
                <label>First name:</label>
                <br />
                <input type="text" name="firstName">
                <br />
                <br />
                <label>Last name:</label>
                <br />
                <input type="text" name="lastName">
                <br />
                <br />
                <label>Age:</label>
                <br />
                <input type="number" name="age">
                <br />
                <br />
                <br />
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
    <div id="modalEdit" class="modal">
        <div class="modal-content">
            <span id="closeEditModal" class="close">&times;</span><br /><br />
            <form id="editForm" method="POST">
                <input type="hidden" id="idE" name="Id">
                <label>First name:</label>
                <br />
                <input type="text" id="firstNameE" name="FirstName">
                <br />
                <br />
                <label>Last name:</label>
                <br />
                <input type="text" id="lastNameE" name="LastName">
                <br />
                <br />
                <label>Age:</label>
                <br />
                <input type="number" id="ageE" name="Age">
                <br />
                <br />
                <br />
                <input type="submit" value="Edit">
            </form>
        </div>
    </div>
    <button id="syncBtn" class="buttonGreen">Sync</button>
    <div>
        <table id="dataContent">
            <tr>
                <th colspan="2">
                    <label>Name</label>
                </th>
                <th>
                    <label>Age</label>
                </th>
                <th>
                    <label>Actions</label>
                </th>
            </tr>
            @foreach (UserModel user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Age</td>
                    <td>
                        <button  value="@user.Id" class="editBtn" style="min-width: 11%; border: 0px">edit</button>
                        <button  value="@user.Id" class="deleteBtn" style="min-width: 11%; border: 0px">delete</button>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

<script src="~/js/site.js"></script>