@using adminServer.Models;


@model IList<UserModel>;

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<div class="wrapper">
    <button id="addBtn" class="buttonGreen">Add</button>
    <div id="modalAdd" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span><br /><br />
            <form method="POST">
                <label>First name:</label>
                <br />
                <input type="text" name="firstName">
                <br />
                <br />
                <label>Last name:</label>
                <br />
                <input type="text" name="lastName">
                <br />
                <br />
                <label>Age:</label>
                <br />
                <input type="number" name="age">
                <br />
                <br />
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
    <div id="modalEdit" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span><br /><br />
            <form method="POST">
                <label>First name:</label>
                <br />
                <input type="text" name="firstNameE">
                <br />
                <br />
                <label>Last name:</label>
                <br />
                <input type="text" name="lastNameE">
                <br />
                <br />
                <label>Age:</label>
                <br />
                <input type="number" name="ageE">
                <br />
                <br />
                <input type="submit" value="Edit">
            </form>
        </div>
    </div>
    <button class="buttonGreen">Sync</button>
    <div>
        <table>
            <! some realization cs code>
            <tr>
                <th colspan="2">
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Actions
                </th>
            </tr>
            @foreach (UserModel user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Age</td>
                    <td>
                        <button id="editBtn" value="@user.Id" class="buttonGreen" style="width: 30%">edit</button>
                        <button id="deleteBtn" value="@user.Id" class="buttonRed" style="width: 30%">delete</button>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>
<style>
    tr:nth-child(even) {
        background-color: #f0f0f0;
    }

    td {
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    th {
        border-bottom: 1px solid #ddd;
        text-align: center
    }

    table {
        background-color: #f4f4f4;
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;
    }

    .wrapper {
        padding: 10px;
        max-width: 40%;
        min-width: 300px;
        margin: auto;
        border: 1px solid lightgray;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 160px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .buttonRed {
        background-color: #fff; /* Green */
        border: 2px solid #f44336;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        transition-duration: 0.2s;
        border-radius: 2px;
    }

        .buttonRed:hover {
            background-color: #f44336; /* Green */
            color: white;
        }

    .buttonGreen {
        background-color: #fff; /* Green */
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        transition-duration: 0.2s;
        border: 2px solid #4CAF50;
        border-radius: 2px;
    }

        .buttonGreen:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }
</style>
<script>
    var modalAdd = document.getElementById('modalAdd');
    var modalEdit = document.getElementById('modalEdit');
    var btnAdd = document.getElementById("addBtn");
    var btnEdit = document.getElementById("editBtn");
    var spanForAddModal = document.getElementsByClassName("close")[0];
    var spanForEditModal = document.getElementsByClassName("close")[1];

    function doSomething(elem) {
        var id = elem.children[0].value;

        $.ajax({
            url: "/Home/Delete",
            type: "POST",
            data: { id: id },
            dataType: "json",
            success: function () {
                alert("YEEE");
            }
        });
    }

    btnAdd.onclick = function () {
        modalAdd.style.display = "block";
    }
    spanForAddModal.onclick = function () {
        modalAdd.style.display = "none";
    }
    btnEdit.onclick = function () {
        modalEdit.style.display = "block";
    }
    spanForEditModal.onclick = function () {
        modalEdit.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modalAdd || event.target == modalEdit) {
            modalAdd.style.display = "none";
            modalEdit.style.display = "none";
        }
    }
</script>
